.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  opacity: 0.9;
  z-index: 999;
  -webkit-animation: loader-hide 500ms 2000ms forwards;
          animation: loader-hide 500ms 2000ms forwards;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 10px solid #EAEAEA;
  border-top: 10px solid #9356DC;
  border-radius: 50px;
  -webkit-animation: 1s loading linear infinite;
  animation: 1s loading linear infinite;
}
@-webkit-keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-hide {
  to {
    visibility: hidden;
  }
}
@keyframes loader-hide {
  to {
    visibility: hidden;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  position: relative;
  z-index: 2;
}
header .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
header a {
  color: black;
  width: 5%;
  font-size: 20px;
  padding: 10px 10px;
  position: absolute;
  left: 5%;
}

.fa-heart-animated {
  position: relative;
  z-index: 1;
  color: transparent;
}

.fa-heart-infront {
  position: absolute;
  z-index: 2;
  color: black;
}

.fa-heart-infront, .fa-heart-animated {
  font-size: 28px;
}
.fa-heart-infront:hover + .fa-heart-animated, .fa-heart-animated:hover + .fa-heart-animated {
  font-size: 28px;
  background: -webkit-linear-gradient(300deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  -webkit-animation: scale-up-bottom 0.3s linear both;
  animation: scale-up-bottom 0.3s linear both;
}
@-webkit-keyframes scale-up-bottom {
  0% {
    transform: scale(0.1);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: scale(0.95);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-up-bottom {
  0% {
    transform: scale(0.1);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: scale(0.95);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 35px 35px 0 0;
  z-index: 2;
}
.menu .menu__plate--1 {
  -webkit-animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
          animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}
.menu .menu__plate--2 {
  -webkit-animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
          animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}
.menu .menu__plate--3 {
  -webkit-animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
          animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}
.menu .menu__plate--4 {
  -webkit-animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
          animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}
.menu .menu__plate--5 {
  -webkit-animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
          animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}
.menu .menu__plate--6 {
  -webkit-animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
          animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}
.menu .menu__plate--7 {
  -webkit-animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
          animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
}
.menu .menu__plate--8 {
  -webkit-animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s both;
          animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s both;
}
.menu .menu__plate--9 {
  -webkit-animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
          animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}
.menu .menu__plate--10 {
  -webkit-animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
          animation: menu-appear 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}
@-webkit-keyframes menu-appear {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes menu-appear {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu__restaurantName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", cursive;
  padding: 20px 15px;
}
.menu__restaurantName h2 {
  margin: 0 20px 0 0;
}
.menu__list {
  margin-bottom: 15px;
}
.menu__list h3 {
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 0;
}
.menu__list .underline {
  height: 3px;
  background-color: #99e2d0;
  width: 10vw;
  position: absolute;
  margin: 3px 0 0 10px;
}
.menu__plate {
  display: flex;
  text-decoration: none;
  color: black;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 15px 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 8px 8px;
  position: relative;
}
.menu__plate__description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  text-overflow: ellipsis;
  font-weight: 300;
  padding: 10px 10px;
}
.menu__plate__description h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}
.menu__plate__description p {
  padding-top: 5px;
  margin: 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}
.menu__plate__slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: -65px;
  z-index: 0;
}
.menu__plate__slider .menu__plate__price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 600;
  padding: 0px 20px;
}
.menu__plate__slider .menu__plate__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66.4px;
  width: 55px;
  background-color: #99e2d0;
  color: #fff;
  font-size: 22px;
}
.menu__plate__slider .menu__plate__checkbox .fa-circle-check {
  transition: transform 0.7s 0.1s ease-in-out;
}
.menu .menu__plate:hover .menu__plate__slider {
  transition: all 0.7s ease;
  margin-right: 0;
}
.menu .menu__plate:hover .fa-circle-check {
  transform: rotate(360deg);
}

footer {
  background-color: #353535;
  color: #fff;
  padding-bottom: 20px;
}
footer .footer__title {
  margin: 0;
  padding: 20px 20px 15px 20px;
  font-family: "Shrikhand", cursive;
}
footer ul {
  padding-left: 20px;
  margin: 0;
}
footer li {
  list-style: none;
  padding: 5px 0px;
}
footer li i {
  padding-right: 10px;
}
footer li .fa-handshake-angle {
  font-size: 12px;
}
footer a {
  color: #fff;
  text-decoration: none;
}

.order__button {
  padding: 15px 40px;
  border: transparent;
  border-radius: 30px 30px;
  color: #fff;
  font-weight: 400;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  margin: 35px 0 60px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.order__button:hover {
  transition-duration: 500ms;
  filter: brightness(110%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #EAEAEA;
}

.restaurant {
  background-color: #F6F6F6;
  border-radius: 35px 35px 0 0;
  z-index: 3;
  position: relative;
}
.restaurant__image {
  width: 100%;
}
.restaurant__image img {
  width: 100%;
  max-height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  margin-bottom: -75px;
}
.restaurant .restaurant__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 25px;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}

.order {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
}/*# sourceMappingURL=mobile-restaurants-menu.css.map */