// imports
@use "Utils/variables";
@use "Components/loader";
@use "Layouts/header"; 
@use "Layouts/footer";
@use "Layouts/location";
@use "Layouts/explanation";
@use "Layouts/discover";
@use "Components/restaurant-cards";
@use "Components/animated-heart";
@use "Components/new_dot";

// Setup base
body{
    font-family: variables.$standardFont;
}

// Header 
header{
    .header__logo{
        max-width: 10%;
    }
}

// Location section 
.location
{
    input{
        width: 10%;
    }
}


// Discover section 
.discover{

    &__title{
        display: block;
    }

    &__button{
        padding: 15px 0 15px 0;
        width: 20%;
    }
}

// Explanation section 
.explanation{
    justify-content: center;

    div:nth-child(1){
        display: flex;
        flex: 0 0 100%;
    }
    &__title{
        margin: none;
    }
    &__numberDot{
        left:-2%;
    }
    &__step{
        width: 25%;
        position: relative;
        .fa-solid{
           position: relative;
           left:-5%;

        }
    }

}
// Restaurant cards

.restaurants{
    flex-direction: row;
    flex-wrap: wrap;
    a{
        width: 40%;
    }
    &__cards{
        margin: 10px 20px;
    }
    img{
        height: 250px;
        object-position: center center;
    }

}