// imports
@import "Utils/_variables.scss";

// Setup base
body{
    font-family: $standardFont;
}

// Header 
header{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    .header__logo{
        max-width: 12%;
    }
}

// Location section 
.location
{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px 0px;
    background-color: $colorBackgroundMid;
    .fa-solid{
        display: flex;
        align-items: center;
        align-content: center;
        margin-right: 10px;
        font-size: 18px;
    }
    input{
        text-align: center;
        color: black;
        font-weight: 500;
        width: 10%;
        border: none;
        padding: 0 0 0 0;
        background-color: $colorBackgroundMid;
    }
}


// Discover section 
.discover{
    background-color: $colorBackgroundLight;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        margin-top: 35px ;
    }
    &__slogan{
        font-weight: 200;
        font-size: 18px;
    }
    &__button{
        padding: 15px 0 15px 0;
        border: transparent;
        border-radius: 30px 30px;
        color: #fff;
        width: 20%;
        font-weight: 400;
        background: linear-gradient(to top left, $colorPrime, $colorSecond);
        margin-bottom: 35px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;

    }
}

// Explanation section 
.explanation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5px;
    padding-bottom: 30px;


    div:nth-child(1){
        width: 100%;
    }
    &__title{
        margin-left: 20px;
    }
    &__numberDot{
        color: #fff;
        font-size: 14px;
        background-color: $colorPrime;
        padding: 5px 10px;
        border-radius: 20px;
        position: absolute;
        left:-2%;


    }
    &__step{
        width: 25%;
        border-radius: 15px 15px 15px 15px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        background-color: $colorBackgroundLight;
        margin: 10px 20px 10px 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        position: relative;

        .fa-solid{
            color: grey;
            padding: 0 20px 0 0;

        }
    }

}

// Restaurant cards

.restaurants{
    background-color: $colorBackgroundLight ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    
    &__title{
        width: 90%;
    }

    a{
        text-decoration: none;
        width: 40%;
    }
    &__cards{
        background-color: #fff;
        border-radius: 30px;
        width: 90%;
        position: relative;
        margin: 10px 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    img{
        height: 250px;
        width: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 20px 20px 0 0;
    }
    &__cards--sub{
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-wrap: wrap;
    }
        h4{
            width: 100%;
            margin: 10px 0 5px 0;
            color: black;
            font-size: 18px;
        }
        p{
            margin: 5px 0 17px 0;
            font-size: 16px;
            font-weight: 300;
            color: black;
        }

        i{
            display: flex;
            align-items: flex-end;
            justify-content: end;
            font-size: 25px;
            color: $colorBackgroundDark;
            position: absolute;
            left: 85%;
            bottom: 9%;
        }

}

// Footer
footer{
    background-color: $colorBackgroundDark;
    color: #fff;
    padding-bottom: 20px;

    .footer__title{
        margin:0;
        padding: 20px 20px 15px 20px;
        font-family: $highlightFont;
    }
    ul{
        padding-left: 20px;
        margin: 0;
    }
    li{

        list-style: none;
        padding: 5px 0px;
        i{
            padding-right: 10px;
        }
        .fa-handshake-angle{
            font-size: 12px;
        }
    }
    a{
        color: #fff;
        text-decoration: none;
    }
}