// imports
@use "Utils/variables";
@use "Components/loader"; 
@use "Layouts/header";
@use "Layouts/footer";
@use "Layouts/location";
@use "Layouts/explanation";
@use "Layouts/discover";
@use "Components/restaurant-cards";
@use "Components/animated-heart";
@use "Components/new_dot";


// Setup base
body{
    font-family: variables.$standardFont;
}

// Location section 
.location
{
    input{
        width: 35%;
    }
}


// Discover section 
.discover{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

