// imports
@use "Utils/variables";
@use "Components/loader"; 
@use "Layouts/header"; 
@use "Layouts/footer";
@use "Layouts/location";
@use "Layouts/explanation";
@use "Layouts/discover";
@use "Components/restaurant-cards";
@use "Components/animated-heart";
@use "Components/new_dot";

// Setup base
body{
    font-family: variables.$standardFont;
}

// Header 
header{
    .header__logo{
        max-width: 25%;
    }
}

// Location section 
.location
{
    input{
        width: 35%;
    }
}

// Discover section 
.discover{
    &__button{
        width: 30%;
    }
}


// Explanation section 
.explanation{
    flex-direction: column;

    align-items: center;

    &__numberDot{
        left: 24%;
    }
    &__step{
        width: 50%;
        .fa-solid{
            color: grey;
            position: absolute;
            left: 32%;
        }
    }

}

// Restaurant cards

.restaurants{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    a{
        width: 40%;
    }
    &__cards{
        margin: 10px 20px;
    }
    img{
        height: 250px;
        object-position: center center;
    }


}