// imports
@use "Utils/variables";
@use "Components/loader"; 
@use "Layouts/header-alternative";
@use "Layouts/menu-section";
@use "Layouts/footer";
@use "Utils/mixins";
@use "Components/animated-heart";
@use "Components/order-button";

// Setup base
body{
    font-family: variables.$standardFont;
}

// Header 
header{ 
    .header__logo{    
        width: 25%;
    }
}

main {
	background-color: variables.$colorBackgroundMid;
}
// Image section 
.restaurant
{
    background-color: variables.$colorBackgroundLight;
    border-radius: 35px 35px 0 0;
    z-index: 3;
    position: relative;
    &__image
    {
        width: 100%;
        img{
            width: 100%;
            max-height: 40vh;
            object-fit: cover;
            z-index: 1;
            margin-bottom: -75px;
            
        }
    }
    .restaurant__name
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 25px;
        font-family: variables.$highlightFont;
        font-size: 22px;
    }
}

// Order section

.order{
    display: flex;
    justify-content:center;
    background-color: variables.$colorBackgroundLight;
}