@use "../Utils/variables";

.order__button{
    padding: 15px 40px;
    border: transparent;
    border-radius: 30px 30px;
    color: #fff;
    font-weight: 400;
    background: linear-gradient(to top left, variables.$colorPrime, variables.$colorSecond);
    margin:35px 0 60px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &:hover{    
        transition-duration: 500ms;
        filter: brightness(110%);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    }
}