// Font Variables
    // highlighting and logos font 
    $highlightFont: 'Shrikhand', cursive;
    // standard font 
    $standardFont : 'Roboto', sans-serif;
// Color Variables 

$colorPrime : #9356DC;
$colorSecond : #FF79DA;
$colorThird : #99E2D0;
$colorBackgroundLight: #F6F6F6; 
$colorBackgroundMid : #EAEAEA;
$colorBackgroundDark : #353535;
