@use "../Utils/variables";
@use "../Utils/mixins";
@use "../Components/animated-heart";


// Menu section

.menu
{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: variables.$colorBackgroundLight;
    border-radius: 35px 35px 0 0;
    z-index: 2;
    @include mixins.menu-load;
    &__restaurantName{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: variables.$highlightFont;
        padding: 20px 15px;

        h2{
            margin: 0 20px 0 0;
        }
    }
    &__list{
        margin-bottom: 15px;

        h3{
            text-transform: uppercase;
            font-weight: 300;
            padding-left: 10px;
            margin-top: 15px;
            margin-bottom: 0;
        }
        .underline {
            height:3px;
            background-color:#99e2d0;
            width:10vw;
            position:absolute;
            margin: 3px 0 0 10px;
            }

    }

    &__plate
{
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 8px 8px;
    position: relative;

        &__description
        {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            justify-content: space-between;
            text-overflow: ellipsis;
            font-weight: 300;
            padding: 10px 10px;
            h4
            {   
                font-size: 20px;
                font-weight: 500;
                margin: 0 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                overflow: hidden;
            }
            p
            {
                padding-top: 5px;
                margin: 0 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                overflow: hidden;
            }
        }
    &__slider{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-right: -65px;
        z-index: 0;
        .menu__plate__price
        {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-weight: 600;
        padding: 0px 20px;
        }
        .menu__plate__checkbox
        {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 66.4px;
            width: 55px;
            background-color: #99e2d0;
            color: #fff;
            font-size: 22px;
            .fa-circle-check{
                transition: transform 0.7s 0.1s ease-in-out ;
            }
        }
    
    }
}
    .menu__plate:hover
    {
        .menu__plate__slider{
            transition: all 0.7s ease;
            margin-right: 0;
        }
        .fa-circle-check{
            transform: rotate(360deg);
        }

    }

}
